{{ ansible_managed | comment }}
# Type Path Mode UID GID Age Argument
d {{ inbox_root	}}	-	{{ inbox_user }}	{{ inbox_group }}	-
d {{ inbox_root }}/scanadf	-	{{ inbox_user }}	{{ inbox_group }}	-
d {{ inbox_root }}/cabinet	-	{{ inbox_user }}	{{ inbox_group }}	-
